@use "vars/variables" as v;
@use "vars/mixins" as mx;

.gallery {
	& > h2 {
		text-align: center;
	}
	.gallery__img {
		@include mx.grid(160px, 2rem);
		.item__img {
			img {
				width: 100%;
				object-fit: cover;
			}
		}
	}
}

.no-overflow {
	overflow: hidden;
}
.active {
	position: fixed;
	inset: 0;
	display: flex;
	z-index: 99;
	justify-content: center;
	align-items: center;
	background-color: #1d1d1df1;
}

.animation-img {
	transform-origin: center;
	position: absolute;
	animation: img-animation 0.45s ease;
	width: 80%;
	max-width: 800px;
	object-fit: contain;
}

@keyframes img-animation {
	from {
		transform: scale(0) rotate(90deg);
		filter: opacity(0);
	}
	to {
		transform: scale(1) rotate(0);
		filter: opacity(1);
	}
}
